#idr {
    --color: #560bad;
    display: inline-block;
    position: relative;
    overflow: hidden;
    -webkit-transition: color .5s;
    transition: color .5s;
    z-index: 1;
    border-radius: 6px;
    /* color: var(--color); */
   }
   
   #idr:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   #idr:hover {
    color: #fff;
   }
   
   #idr:before {
    top: 100%;
    left: 100%;
    -webkit-transition: all .7s;
    transition: all .7s;
   }
   
   #idr:hover:before {
    top: -30px;
    left: -30px;
   }
   
   #idr:active:before {
    background: #3a0ca3;
    -webkit-transition: background 0s;
    transition: background 0s;
   }